<form [formGroup]="searchForm">
<input style="width:300px;padding-bottom: 0.5rem;" formControlName="term" type="text" placeholder="search a product">

</form>

<h2 style="text-align: center;">Manage All Products</h2>
<table style="width:80%;margin-top: 2rem;margin-bottom: 7rem;">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Edit</th>
      
      <th>Delete</th>
    </tr>
    <tr *ngFor="let product of products;let i=index;">
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td><input min="1" name="price" type="number" [(ngModel)]="product.price"></td>
      <td><button (click)="onEdit(i)" style="cursor: pointer;" class="btn" type="button">Edit</button></td>
      
      <td><button style="cursor: pointer;" (click)="onDelete(i)" class="btn" type="button">Delete</button></td>
    </tr>
    
  </table>

  

  
   
  
  
  

