.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
 }
button{
    margin-top: 1rem;
    margin-right: 1rem;
    
    padding: 0.6rem 0.5rem;
} 
.alert {
    color:red;
}
