<div class="container">

<div class="shipping">
    <h2>Please Fill Shipping Address</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label for="name">Name</label>
    <div>
        <input required  name="name" type="text" id="name" ngModel #nameControl="ngModel">
    </div>

    <ng-container *ngIf="nameControl.errors">
        <p class="danger" *ngIf="nameControl.errors.required && nameControl.touched">
        Name is required
        </p>
        
            </ng-container>

    <label for="address">Address</label>
    <div>
        <textarea required name="address" cols="30" rows="6" ngModel #addressControl="ngModel"></textarea>
    </div>

    <ng-container *ngIf="addressControl.errors">
        <p class="danger" *ngIf="addressControl.errors.required && addressControl.touched">
        Address is required
        </p>
        
            </ng-container>


    <label for="phone">Phone Number</label>
    <div>
        <input pattern="((\+){1}91){1}[1-9]{1}[0-9]{9}"  required name="phone" type="text" id="phone" ngModel #phoneControl="ngModel">
    </div>
    <ng-container *ngIf="phoneControl.errors">
<p class="danger" *ngIf="phoneControl.errors.required && phoneControl.touched">
Phone number is required
</p>
<p class="danger" *ngIf="phoneControl.errors.pattern && phoneControl.touched">
Please enter phone number with +91 appended in front:hint +919896549674
</p>
    </ng-container>
    <button [disabled]="f.invalid">Submit</button>
    </form>
</div>

<div class="order-summary">
    <h2>Order Summary</h2>
    <ng-container *ngFor="let order of orderSummary;let i=index;">
    <p>Product Name: {{order.name}}</p>
    <p>Product quantity: {{order.quantity}}</p>
    <hr *ngIf="i === orderSummary.length - 1">
    <p *ngIf="i === orderSummary.length - 1">Total Price: {{totalPrice | currency}}</p>
    <hr>
</ng-container>
</div>

</div>

<div class="place-order">
    <button (click)="onPlaceOrderClick()" class="btn">Place order</button>
</div>
